In [4]:
#!pip install surprise

In [3]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve
from collections import defaultdict
from surprise.model_selection import train_test_split
import io 

from surprise import KNNBaseline
from surprise import Dataset
from surprise import get_dataset_dir
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

In [5]:
path = 'clustered_clients.csv'
df = pd.read_csv(path)

In [6]:
#add id for each client
path_id = 'vitrina_clients_vkr.xlsx'
with open(path_id, 'rb') as f:
    df_initial = pd.read_excel(io.BytesIO(f.read()), sheet_name='Sheet1', nrows=200,engine='openpyxl')


# df_initial = pd.read_excel(path, sheet_name='Sheet1', nrows=200,engine='openpyxl')
id_col = df_initial['client_id']

In [7]:
df['client_id'] = id_col

In [8]:
df = df[:10000]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DistinctCountOrders        10000 non-null  int64
 1   AverageOrderSum            10000 non-null  float64
 2   AvgBill                    10000 non-null  float64
 3   AverageNumItemsInOrder     10000 non-null  float64
 4   RevenueClient              10000 non-null  float64
 5   TotalNumberItemsOrdered    10000 non-null  int64
 6   AverageMarginOrder         10000 non-null  float64
 7   cnt_purchased_orders       10000 non-null  int64
 8   AvgOrderSumPurchased       10000 non-null  float64
 9   AvgNumItemsOrderPurchased  10000 non-null  float64
 10  RevenueClientPurchased     10000 non-null  float64
 11  PurchasedItems             10000 non-null  float64
 12  AvgMarginPurchased         10000 non-null  float64
 13  SharePurchasedOrders       10000 non-null  float64
 14  ДЕТСКОЕ ПИТАНИЕ            10000 non-null  float64
 15  ЖЕНСКИЕ ШТУЧКИ             10000 non-null  float64
 16  ИГРУШКИ                    10000 non-null  float64
 17  КАНЦТОВАРЫ, КНИГИ, ДИСКИ   10000 non-null  float64
 18  КОСМЕТИКА/ГИГИЕНА          10000 non-null  float64
 19  КРУПНОГАБАРИТНЫЙ ТОВАР     10000 non-null  float64
 20  ОБУВЬ                      10000 non-null  float64
 21  ПОДГУЗНИКИ                 10000 non-null  float64
 22  СОПУТСТВУЮЩИЕ ТОВАРЫ       10000 non-null  float64
 23  ТЕКСТИЛЬ, ТРИКОТАЖ         10000 non-null  float64
 24  ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА  10000 non-null  float64
 25  ТОВАРЫ ДЛЯ ЖИВОТНЫХ        10000 non-null  float64
 26  ТОВАРЫ ДЛЯ КОРМЛЕНИЯ       10000 non-null  float64
 27  ИГРУШКИ.1                  10000 non-null  float64
 28  ИНОЕ                       10000 non-null  float64
 29  КГТ                        10000 non-null  float64
 30  ОДЕЖДА                     10000 non-null  float64
 31  ППКП                       10000 non-null  float64
 32  CENTRAL                    10000 non-null  float64
 33  FAR EAST                   10000 non-null  float64
 34  NORTH                      10000 non-null  float64
 35  PRIVOLZIE                  10000 non-null  float64
 36  SIBERIA                    10000 non-null  float64
 37  SOUTHERN                   10000 non-null  float64
 38  URAL                       10000 non-null  float64
 39  Cluster                    10000 non-null  object
 40  client_id                  200 non-null    object
dtypes: float64(36), int64(3), object(2)
memory usage: 3.1+ MB

In [ ]:
# df.to_csv('hybrid_rc/data/processed/clustered_clients200.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DistinctCountOrders        10000 non-null  int64
 1   AverageOrderSum            10000 non-null  float64
 2   AvgBill                    10000 non-null  float64
 3   AverageNumItemsInOrder     10000 non-null  float64
 4   RevenueClient              10000 non-null  float64
 5   TotalNumberItemsOrdered    10000 non-null  int64
 6   AverageMarginOrder         10000 non-null  float64
 7   cnt_purchased_orders       10000 non-null  int64
 8   AvgOrderSumPurchased       10000 non-null  float64
 9   AvgNumItemsOrderPurchased  10000 non-null  float64
 10  RevenueClientPurchased     10000 non-null  float64
 11  PurchasedItems             10000 non-null  float64
 12  AvgMarginPurchased         10000 non-null  float64
 13  SharePurchasedOrders       10000 non-null  float64
 14  ДЕТСКОЕ ПИТАНИЕ            10000 non-null  float64
 15  ЖЕНСКИЕ ШТУЧКИ             10000 non-null  float64
 16  ИГРУШКИ                    10000 non-null  float64
 17  КАНЦТОВАРЫ, КНИГИ, ДИСКИ   10000 non-null  float64
 18  КОСМЕТИКА/ГИГИЕНА          10000 non-null  float64
 19  КРУПНОГАБАРИТНЫЙ ТОВАР     10000 non-null  float64
 20  ОБУВЬ                      10000 non-null  float64
 21  ПОДГУЗНИКИ                 10000 non-null  float64
 22  СОПУТСТВУЮЩИЕ ТОВАРЫ       10000 non-null  float64
 23  ТЕКСТИЛЬ, ТРИКОТАЖ         10000 non-null  float64
 24  ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА  10000 non-null  float64
 25  ТОВАРЫ ДЛЯ ЖИВОТНЫХ        10000 non-null  float64
 26  ТОВАРЫ ДЛЯ КОРМЛЕНИЯ       10000 non-null  float64
 27  ИГРУШКИ.1                  10000 non-null  float64
 28  ИНОЕ                       10000 non-null  float64
 29  КГТ                        10000 non-null  float64
 30  ОДЕЖДА                     10000 non-null  float64
 31  ППКП                       10000 non-null  float64
 32  CENTRAL                    10000 non-null  float64
 33  FAR EAST                   10000 non-null  float64
 34  NORTH                      10000 non-null  float64
 35  PRIVOLZIE                  10000 non-null  float64
 36  SIBERIA                    10000 non-null  float64
 37  SOUTHERN                   10000 non-null  float64
 38  URAL                       10000 non-null  float64
 39  Cluster                    10000 non-null  object
 40  client_id                  200 non-null    object
dtypes: float64(36), int64(3), object(2)
memory usage: 3.1+ MB

In [11]:
for col in df.columns:
    if type(df[col][0]) == np.float64:
        df[col] = df[col].astype('float16')
    elif type(df[col][0]) == np.int64:
        df[col] = df[col].astype('int16')
    elif type(df[col][0]) == np.object:
        df[col] = df[col].astype('category')
    else:
        pass

<ipython-input-11-0d2de1d4dbec>:6: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  elif type(df[col][0]) == np.object:

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DistinctCountOrders        10000 non-null  int16
 1   AverageOrderSum            10000 non-null  float16
 2   AvgBill                    10000 non-null  float16
 3   AverageNumItemsInOrder     10000 non-null  float16
 4   RevenueClient              10000 non-null  float16
 5   TotalNumberItemsOrdered    10000 non-null  int16
 6   AverageMarginOrder         10000 non-null  float16
 7   cnt_purchased_orders       10000 non-null  int16
 8   AvgOrderSumPurchased       10000 non-null  float16
 9   AvgNumItemsOrderPurchased  10000 non-null  float16
 10  RevenueClientPurchased     10000 non-null  float16
 11  PurchasedItems             10000 non-null  float16
 12  AvgMarginPurchased         10000 non-null  float16
 13  SharePurchasedOrders       10000 non-null  float16
 14  ДЕТСКОЕ ПИТАНИЕ            10000 non-null  float16
 15  ЖЕНСКИЕ ШТУЧКИ             10000 non-null  float16
 16  ИГРУШКИ                    10000 non-null  float16
 17  КАНЦТОВАРЫ, КНИГИ, ДИСКИ   10000 non-null  float16
 18  КОСМЕТИКА/ГИГИЕНА          10000 non-null  float16
 19  КРУПНОГАБАРИТНЫЙ ТОВАР     10000 non-null  float16
 20  ОБУВЬ                      10000 non-null  float16
 21  ПОДГУЗНИКИ                 10000 non-null  float16
 22  СОПУТСТВУЮЩИЕ ТОВАРЫ       10000 non-null  float16
 23  ТЕКСТИЛЬ, ТРИКОТАЖ         10000 non-null  float16
 24  ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА  10000 non-null  float16
 25  ТОВАРЫ ДЛЯ ЖИВОТНЫХ        10000 non-null  float16
 26  ТОВАРЫ ДЛЯ КОРМЛЕНИЯ       10000 non-null  float16
 27  ИГРУШКИ.1                  10000 non-null  float16
 28  ИНОЕ                       10000 non-null  float16
 29  КГТ                        10000 non-null  float16
 30  ОДЕЖДА                     10000 non-null  float16
 31  ППКП                       10000 non-null  float16
 32  CENTRAL                    10000 non-null  float16
 33  FAR EAST                   10000 non-null  float16
 34  NORTH                      10000 non-null  float16
 35  PRIVOLZIE                  10000 non-null  float16
 36  SIBERIA                    10000 non-null  float16
 37  SOUTHERN                   10000 non-null  float16
 38  URAL                       10000 non-null  float16
 39  Cluster                    10000 non-null  object
 40  client_id                  200 non-null    object
dtypes: float16(36), int16(3), object(2)
memory usage: 918.1+ KB

In [13]:
df.head()

,DistinctCountOrders,AverageOrderSum,AvgBill,AverageNumItemsInOrder,RevenueClient,TotalNumberItemsOrdered,AverageMarginOrder,cnt_purchased_orders,AvgOrderSumPurchased,AvgNumItemsOrderPurchased,...,ППКП,CENTRAL,FAR EAST,NORTH,PRIVOLZIE,SIBERIA,SOUTHERN,URAL,Cluster,client_id
0,100,1759.0,1723.0,2.439453,inf,244,219.0000,80,1575.0,2.275391,...,0.024597,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Cluster 3,55575053-54505550565678
1,66,580.5,524.0,3.787109,34592.0,250,144.1250,60,542.0,2.867188,...,0.459961,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Cluster 1,55575048-48524956565375
2,54,823.0,807.0,2.703125,43584.0,146,95.8125,53,816.0,2.679688,...,0.006851,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Cluster 1,55575555-57524953505673
3,59,3608.0,3482.0,4.167969,inf,246,429.0000,45,3218.0,2.222656,...,0.105713,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Cluster 3,55574953-50505150484978
4,46,2670.0,2632.0,1.717773,inf,79,310.7500,40,2690.0,1.799805,...,0.088623,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Cluster 3,55575054-51515151484875

In [14]:
print(df.head())

   DistinctCountOrders  AverageOrderSum  AvgBill  AverageNumItemsInOrder  \
0                  100           1759.0   1723.0                2.439453
1                   66            580.5    524.0                3.787109
2                   54            823.0    807.0                2.703125
3                   59           3608.0   3482.0                4.167969
4                   46           2670.0   2632.0                1.717773

   RevenueClient  TotalNumberItemsOrdered  AverageMarginOrder  \
0            inf                      244            219.0000
1        34592.0                      250            144.1250
2        43584.0                      146             95.8125
3            inf                      246            429.0000
4            inf                       79            310.7500

   cnt_purchased_orders  AvgOrderSumPurchased  AvgNumItemsOrderPurchased  ...  \
0                    80                1575.0                   2.275391  ...
1                    60                 542.0                   2.867188  ...
2                    53                 816.0                   2.679688  ...
3                    45                3218.0                   2.222656  ...
4                    40                2690.0                   1.799805  ...

       ППКП  CENTRAL  FAR EAST  NORTH  PRIVOLZIE  SIBERIA  SOUTHERN  URAL  \
0  0.024597      1.0       0.0    0.0        0.0      0.0       0.0   0.0
1  0.459961      0.0       0.0    0.0        1.0      0.0       0.0   0.0
2  0.006851      1.0       0.0    0.0        0.0      0.0       0.0   0.0
3  0.105713      1.0       0.0    0.0        0.0      0.0       0.0   0.0
4  0.088623      1.0       0.0    0.0        0.0      0.0       0.0   0.0

     Cluster                client_id
0  Cluster 3  55575053-54505550565678
1  Cluster 1  55575048-48524956565375
2  Cluster 1  55575555-57524953505673
3  Cluster 3  55574953-50505150484978
4  Cluster 3  55575054-51515151484875

[5 rows x 41 columns]

In [15]:
print(df.dtypes)

DistinctCountOrders            int16
AverageOrderSum              float16
AvgBill                      float16
AverageNumItemsInOrder       float16
RevenueClient                float16
TotalNumberItemsOrdered        int16
AverageMarginOrder           float16
cnt_purchased_orders           int16
AvgOrderSumPurchased         float16
AvgNumItemsOrderPurchased    float16
RevenueClientPurchased       float16
PurchasedItems               float16
AvgMarginPurchased           float16
SharePurchasedOrders         float16
ДЕТСКОЕ ПИТАНИЕ              float16
ЖЕНСКИЕ ШТУЧКИ               float16
ИГРУШКИ                      float16
КАНЦТОВАРЫ, КНИГИ, ДИСКИ     float16
КОСМЕТИКА/ГИГИЕНА            float16
КРУПНОГАБАРИТНЫЙ ТОВАР       float16
ОБУВЬ                        float16
ПОДГУЗНИКИ                   float16
СОПУТСТВУЮЩИЕ ТОВАРЫ         float16
ТЕКСТИЛЬ, ТРИКОТАЖ           float16
ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА    float16
ТОВАРЫ ДЛЯ ЖИВОТНЫХ          float16
ТОВАРЫ ДЛЯ КОРМЛЕНИЯ         float16
ИГРУШКИ.1                    float16
ИНОЕ                         float16
КГТ                          float16
ОДЕЖДА                       float16
ППКП                         float16
CENTRAL                      float16
FAR EAST                     float16
NORTH                        float16
PRIVOLZIE                    float16
SIBERIA                      float16
SOUTHERN                     float16
URAL                         float16
Cluster                       object
client_id                     object
dtype: object

In [16]:
choose_column = ['AverageOrderSum']
selected_columns = ['client_id', 'Cluster'] + choose_column

In [17]:
selected_columns

['client_id', 'Cluster', 'AverageOrderSum']

In [18]:
maxi = df[choose_column].max().max()
mini = df[choose_column].min().min()

reader = Reader(rating_scale=(mini, maxi))

In [ ]:
# df[selected_columns] = df[selected_columns][:10]

In [19]:
df[selected_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   client_id        200 non-null    object
 1   Cluster          10000 non-null  object
 2   AverageOrderSum  10000 non-null  float16
dtypes: float16(1), object(2)
memory usage: 175.9+ KB

In [20]:
data = Dataset.load_from_df(df[selected_columns], reader)

In [21]:
data

In [22]:
trainset, testset = train_test_split(data, test_size=.25)
sim_options = {'name': 'pearson_baseline', 'user_based': False}
algo = KNNBaseline(sim_options=sim_options)

In [23]:
algo.fit(trainset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [24]:
predictions = algo.test(testset)

In [25]:
#predictions to dataframe
predictions_df = pd.DataFrame(predictions)

In [26]:
predictions_df

,uid,iid,r_ui,est,details
0,NaN,Cluster 0,2416.0,1689.39375,"{'actual_k': 40, 'was_impossible': False}"
1,NaN,Cluster 2,1877.0,3272.10000,"{'actual_k': 40, 'was_impossible': False}"
2,NaN,Cluster 1,5040.0,7256.65000,"{'actual_k': 40, 'was_impossible': False}"
3,NaN,Cluster 0,1012.5,1689.39375,"{'actual_k': 40, 'was_impossible': False}"
4,NaN,Cluster 0,1796.0,1689.39375,"{'actual_k': 40, 'was_impossible': False}"
...,...,...,...,...,...
2495,NaN,Cluster 2,4360.0,3272.10000,"{'actual_k': 40, 'was_impossible': False}"
2496,NaN,Cluster 2,3330.0,3272.10000,"{'actual_k': 40, 'was_impossible': False}"
2497,NaN,Cluster 0,1532.0,1689.39375,"{'actual_k': 40, 'was_impossible': False}"
2498,NaN,Cluster 1,6280.0,7256.65000,"{'actual_k': 40, 'was_impossible': False}"
2499,NaN,Cluster 2,2948.0,3272.10000,"{'actual_k': 40, 'was_impossible': False}"

In [27]:
#show similar users
algo.get_neighbors(1, k=10)

[3, 2, 0]

In [ ]:
#show unique users
print(df['client_id'].unique())

['55575053-54505550565678' '55575048-48524956565375'
 '55575555-57524953505673' '55574953-50505150484978'
 '55575054-51515151484875' '55575450-57505256495470'
 '55575054-50505252535072' '55574857-57555250515173'
 '55575448-56525355485670' '55575653-54505352545577'
 '55574951-50524849525479' '55574854-55565252495471'
 '55574954-56525352555270' '55574851-52514853535175'
 '55574850-53545452504975' '55575054-55485350545475'
 '55574851-49545557505179' '55575456-56525152515570'
 '55575050-57534855495577' '55574856-51575348534875'
 '55575653-51534851495771' '55575055-48485751575573'
 '55575054-57494849545177' '55575054-49525757494873'
 '55574857-48534848515278' '55575555-51575255495676'
 '55575155-49565654515772' '55574954-56485655505473'
 '55574948-48575750575679' '55574854-55554856495371'
 '55575451-54485257525274' '55575349-54575655495273'
 '55574954-57484849515770' '55575057-54555151565576'
 '55575555-51505357535179' '55575451-54575349555476'
 '55575351-53535250495170' '55575148-55494856485173'
 '55575055-55505351564878' '55575053-55505155535173'
 '55574953-51495254514970' '55574856-49545552555573'
 '55574851-54504952525673' '55574851-50515552514977'
 '55575055-51565557555770' '55575054-57545256554970'
 '55575054-53555154495074' '55575054-51505249494971'
 '55575757-54574957515179' '55575653-57555057495470'
 '55575055-57485748555570' '55575054-57504957554876'
 '55574957-55525354565775' '55574956-49554853504971'
 '55574954-55525255534976' '55574952-48524855555674'
 '55575656-51565655555570' '55575655-55505657505278'
 '55575451-57574957495779' '55575450-57494848555270'
 '55575350-55565452525272' '55575057-53555051564973'
 '55575054-53575353505679' '55575053-49575749485779'
 '55574956-53565155505072' '55574955-49484953525472'
 '55574954-55525348545379' '55574954-51535156495579'
 '55574953-57535250575475' '55574953-48485348545775'
 '55574950-56554948545476' '55574949-55485249505471'
 '55574948-55575455525770' '55574856-50544848505379'
 '55575456-57525753575171' '55575456-55505052545472'
 '55575453-50505556565671' '55575451-54555752535179'
 '55575057-54535351505572' '55575054-49575153555073'
 '55574954-51565053525178' '55574953-54525651545574'
 '55574948-52495657485470' '55574856-49505152484873'
 '55574854-55535649535371' '55574852-55525648565273'
 '55574852-54544848485472' '55575456-48525050535076'
 '55575450-56494850505572' '55575349-57485052565279'
 '55575349-55495255485571' '55575348-54495648535378'
 '55575057-57505448515773' '55575056-54505054485479'
 '55575054-50495757495478' '55575054-49505057545771'
 '55575048-48485153555677' '55574956-52555552505770'
 '55574954-53574855495471' '55574954-49525252564870'
 '55574953-52484853505075' '55574953-51535256485676'
 '55574953-50525453565476' '55574953-50514956485370'
 '55574948-55575352505175' '55574857-52484951495571'
 '55574857-51495048504875' '55574856-51565048525375'
 '55574851-57555056545576' '55575653-55524955515473'
 '55575653-51565551484975' '55575455-49575449575279'
 '55575348-54485250545574' '55575155-52484949515275'
 '55575155-50495251524974' '55575057-54515250534971'
 '55575055-54575454495375' '55575055-53535549534977'
 '55575054-49525048495176' '55575054-48555155575670'
 '55575053-48494953504872' '55575048-48525249555077'
 '55574954-54555253515772' '55574954-48495655495373'
 '55574948-56565355515277' '55574857-57525550524870'
 '55574854-48525552485576' '55574853-51505151515570'
 '55574852-57525157494879' '55575456-53575549535772'
 '55575452-55565454525170' '55575450-57554952495271'
 '55575351-51505755564870' '55575155-52485755575170'
 '55575148-56485651515270' '55575055-54535057545373'
 '55575054-55484950555173' '55575054-54544954555178'
 '55575054-54504849555575' '55575054-54495650574971'
 '55575054-50555557574875' '55575053-56564950555772'
 '55575053-56554852525473' '55575053-50485353525076'
 '55575050-50574954565171' '55575048-57535253525074'
 '55574957-53495656525472' '55574955-50504951535572'
 '55574954-54565548545572' '55574954-53484949545776'
 '55574954-51505350495775' '55574954-50485548535477'
 '55574954-49555552565370' '55574954-49515450535478'
 '55574953-49565357505376' '55574948-53505454575176'
 '55574948-52484849555270' '55574948-51575152515770'
 '55574948-51575055565272' '55574948-49525354535775'
 '55574948-49504852495273' '55574857-57534956565776'
 '55574857-57494956544875' '55574853-54544850555577'
 '55574851-53515351535175' '55574851-50565653535678'
 '55574851-50564857555273' '55574851-49554957525571'
 '55574851-48535748494871' '55574851-48485756485678'
 '55575757-50495253525576' '55575655-57555248485375'
 '55575650-57485148515170' '55575650-53494848485579'
 '55575454-49525557515373' '55575453-50575651555670'
 '55575451-57575748495276' '55575450-50555050555271'
 '55575350-50535053484877' '55575349-52575754565173'
 '55575349-52485551555675' '55575348-54494850545378'
 '55575055-54485751524875' '55575055-54485255555571'
 '55575055-48514953555770' '55575054-56545152575277'
 '55575054-55515556565070' '55575054-51544849565270'
 '55575054-50565148565271' '55575054-49555555495178'
 '55575048-57575753555575' '55575048-48505048575770'
 '55575048-48494851485274' '55574957-49515256555273'
 '55574956-52565654565378' '55574955-49515256575676'
 '55574954-57534951495470' '55574954-56505554535575'
 '55574954-55504850565274' '55574954-53495450565178' nan]

In [28]:
for i in range(10):
    try:
        client = df['client_id'].unique()[i]
        print("client: ", client, "cluster: ", df[df['client_id'] == client]['Cluster'].values[0], "prediction: ",algo.get_neighbors(i, k=10))
    except Exception as e:
        print(e)
        pass

client:  55575053-54505550565678 cluster:  Cluster 3 prediction:  [2, 1, 3]
client:  55575048-48524956565375 cluster:  Cluster 1 prediction:  [3, 2, 0]
client:  55575555-57524953505673 cluster:  Cluster 1 prediction:  [0, 1, 3]
client:  55574953-50505150484978 cluster:  Cluster 3 prediction:  [1, 2, 0]
index 4 is out of bounds for axis 0 with size 4
index 5 is out of bounds for axis 0 with size 4
index 6 is out of bounds for axis 0 with size 4
index 7 is out of bounds for axis 0 with size 4
index 8 is out of bounds for axis 0 with size 4
index 9 is out of bounds for axis 0 with size 4

In [29]:
from surprise import SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering

In [30]:
benchmark = []
# Iterate over all algorithms

algorithms = [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]

print ("Attempting: ", str(algorithms), '\n\n\n')

for algorithm in algorithms:
    print("Starting: " ,str(algorithm))
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False)
    # results = cross_validate(algorithm, data, measures=['RMSE','MAE'], cv=3, verbose=False)

    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    print("Done: " ,str(algorithm), "\n\n")

print ('\n\tDONE\n')

Attempting:  [<surprise.prediction_algorithms.matrix_factorization.SVD object at 0x7f4081cacf10>, <surprise.prediction_algorithms.matrix_factorization.SVDpp object at 0x7f4081cacbe0>, <surprise.prediction_algorithms.slope_one.SlopeOne object at 0x7f4081cac9a0>, <surprise.prediction_algorithms.matrix_factorization.NMF object at 0x7f4081cacb20>, <surprise.prediction_algorithms.random_pred.NormalPredictor object at 0x7f4081cac9d0>, <surprise.prediction_algorithms.knns.KNNBaseline object at 0x7f4081cacb80>, <surprise.prediction_algorithms.knns.KNNBasic object at 0x7f4081cacc70>, <surprise.prediction_algorithms.knns.KNNWithMeans object at 0x7f4081caca00>, <surprise.prediction_algorithms.knns.KNNWithZScore object at 0x7f4081cac5e0>, <surprise.prediction_algorithms.baseline_only.BaselineOnly object at 0x7f4081cac340>, <surprise.prediction_algorithms.co_clustering.CoClustering object at 0x7f4081cac550>]



Starting:  <surprise.prediction_algorithms.matrix_factorization.SVD object at 0x7f4081cacf10>
Done:  <surprise.prediction_algorithms.matrix_factorization.SVD object at 0x7f4081cacf10>


Starting:  <surprise.prediction_algorithms.matrix_factorization.SVDpp object at 0x7f4081cacbe0>
Done:  <surprise.prediction_algorithms.matrix_factorization.SVDpp object at 0x7f4081cacbe0>


Starting:  <surprise.prediction_algorithms.slope_one.SlopeOne object at 0x7f4081cac9a0>
Done:  <surprise.prediction_algorithms.slope_one.SlopeOne object at 0x7f4081cac9a0>


Starting:  <surprise.prediction_algorithms.matrix_factorization.NMF object at 0x7f4081cacb20>
Done:  <surprise.prediction_algorithms.matrix_factorization.NMF object at 0x7f4081cacb20>


Starting:  <surprise.prediction_algorithms.random_pred.NormalPredictor object at 0x7f4081cac9d0>
Done:  <surprise.prediction_algorithms.random_pred.NormalPredictor object at 0x7f4081cac9d0>


Starting:  <surprise.prediction_algorithms.knns.KNNBaseline object at 0x7f4081cacb80>
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Done:  <surprise.prediction_algorithms.knns.KNNBaseline object at 0x7f4081cacb80>


Starting:  <surprise.prediction_algorithms.knns.KNNBasic object at 0x7f4081cacc70>
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Done:  <surprise.prediction_algorithms.knns.KNNBasic object at 0x7f4081cacc70>


Starting:  <surprise.prediction_algorithms.knns.KNNWithMeans object at 0x7f4081caca00>
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Done:  <surprise.prediction_algorithms.knns.KNNWithMeans object at 0x7f4081caca00>


Starting:  <surprise.prediction_algorithms.knns.KNNWithZScore object at 0x7f4081cac5e0>
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Done:  <surprise.prediction_algorithms.knns.KNNWithZScore object at 0x7f4081cac5e0>


Starting:  <surprise.prediction_algorithms.baseline_only.BaselineOnly object at 0x7f4081cac340>
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Done:  <surprise.prediction_algorithms.baseline_only.BaselineOnly object at 0x7f4081cac340>


Starting:  <surprise.prediction_algorithms.co_clustering.CoClustering object at 0x7f4081cac550>
Done:  <surprise.prediction_algorithms.co_clustering.CoClustering object at 0x7f4081cac550>



	DONE

In [31]:
print(pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse'))

                    test_rmse    fit_time  test_time
Algorithm
SlopeOne          1656.440620    1.508909  11.426521
KNNWithZScore     1663.338897    0.270297   4.518291
KNNBasic          1666.018831    0.245512   4.396290
CoClustering      1675.692480    0.059379   0.023667
KNNWithMeans      1687.625716    0.231792   4.673701
KNNBaseline       1714.155064    0.266488   4.523497
BaselineOnly      1737.442700    0.003916   0.009624
NormalPredictor   3101.842893    0.005664   0.027784
NMF               3548.368961    0.065093   0.018592
SVDpp            43334.581284  113.350895  19.051319
SVD              43334.590330    0.164478   0.036649

In [32]:
#recommendation for client
client = df['client_id'].unique()[0]
print("client: ", client, "cluster: ", df[df['client_id'] == client]['Cluster'].values[0], "prediction: ",algo.get_neighbors(0, k=10))

client:  55575053-54505550565678 cluster:  Cluster 3 prediction:  [2, 1, 3]

In [33]:
#recommendation for client
client = df['client_id'].unique()[1]
print("client: ", client, "cluster: ", df[df['client_id'] == client]['Cluster'].values[0], "prediction: ",algo.get_neighbors(1, k=10))

client:  55575048-48524956565375 cluster:  Cluster 1 prediction:  [3, 2, 0]